.flexcontainer1
{
	display: flex;
	flex-direction: column;
	width 100px;
}

#grid-container
{
	
}


#logo
{
	width: 100px;
}

#title
{
	background-color: gray;
}

#payoff
{
	background-color: lightgray;
}

nav, .menu
{
	background-color: blue;
	color: white;
}

#cookiestatement
{
	position: fixed;
	bottom: 0;
	right: 0;
	width: 300px;
	color: #FFF;
	background-color: #FA0;
	opacity: 0.5;
}

@media (min-width: 481px max-width: 1179px){
	#logo
	{
		background-color: black;
	}
}

@media (max-width: 479px){
	#video
	{
		display: none;
	}
{