.flexcontainer1
{
	display: flex;
	flex-direction: column;
	width: 1000px;
}

.flexcontainer1 > h1 , h2
{
	color: red;
	margin: 0px;
	background-color: gray;
}

img
{
	width: 500px;
}


#cookiestatement
{
	position: fixed;
	bottom: 0;
	right: 0;
	width: 300px;
	color: #FFF;
	background-color: #FA0;
	opacity: 0.5;
}

@media (min-width: 481px max-width: 1179px){
	#logo
	{
		background-color: black;
	}
}

@media (max-width: 479px){
	#video
	{
		display: none;
	}
{